#banner{
    border: solid;
    border-width: thin;
    border-radius: 5px;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#cart{
  display:inline-block

}
#menu_title{
 display:inline-block
}
button.small-btn {
    width: 50px;
    height: 25px;
    padding: 0px;
    font-color: black;
}
.cost{
    font-size: 75%;
    font-color: black;
    text-align: center;
}
#cart_container{
  background-color: AntiqueWhite;
  display: flex;
  position: sticky;
  top: 3.9rem;
  flex-direction: column;
  align-self: end;
  visibility: hidden;
}
#order_button{
    bottom:0
}
#cart_items_list li {
    list-style-type: none;
    background-color: white;
    margin: 0.25rem;
    padding: 0.5rem;
}

button.pizza_topping{
    border: none;
    background: none;
    background-color: white;
    margin: 1px;
    padding: none;
}
button.pizza_topping:hover{
    background-color: lightgrey;
}
button.pizza_topping:focus{
    outline-style: solid;
    outline-width: thin;
    outline-color: lightgrey;
}
#extra_price {
    font-size: 75%;
}