{% extends "orders/base.html" %}

{% block title %}
    Menu
{% endblock %}

{% block body %}

<div class="d-flex justify-content-between w-100" id="banner">
     <div class="align-self-center ml-1">
        <a href="{% url 'logout' %}"><button id="logout" type="button" class="btn btn-outline-dark">Logout</button></a>
    </div>
    <div class="m-auto">
         <h1 id="menu_title">Menu</h1>
    </div>
    <div class="align-self-center mr-1">
        <button id="cart" type="button" class="btn btn-outline-dark">Cart</button>
    </div>
</div>
<div class="d-flex justify-content-around">
     <div class="w-25 d-flex flex-column">
     </div>
     <div class="mt-5 w-25 d-flex flex-column">

            {% for key, values in menu.items %}
                    <div class="align-self-center">

                            <h4>{{key}}  <small class="text-muted">S | L</small>
                            </h4>

                    </div>
                    <div class="list-group ml-5">
                    {% for k,v in values.items %}
                        <div class="d-flex flex-row mb-1">
                            <div class="mr-auto p-2">
                                {{k}}
                            </div>
                            {% if v.small_price %}
                            <button type="button" class="small-btn btn btn-outline-secondary m-1" data-id={{v.id}} data-size="Small" onClick="cart(this)">
                                <div class="cost"><b>$</b>{{v.small_price}}</div>
                            </button>
                            {% endif %}
                            {% if v.large_price %}
                             <button type="button" class="small-btn btn btn-outline-secondary m-1" data-id={{v.id}} data-size="Large" onClick="cart(this)">
                                <div class="cost"><b>$</b>{{v.large_price}}</div>
                             </button>
                            {% endif %}
                            {% if v.one_price %}
                             <button type="button" class="small-btn btn btn-outline-secondary m-1" data-id={{v.id}} data-size="N/A" onClick="cart(this)">
                                  <div class="cost"><b>$</b>{{v.one_price}}</div>
                             </button>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% if key == "Subs" %}
                         {% for k,v in extras.items %}
                            <div class="d-flex flex-row mb-1">
                                <div class="mr-auto p-2">
                                    <button class="pizza_topping">{{k}}</button>
                                </div>
                                <div id= "extra_price" class="p-2"><b>$</b>{{v.price}}</div>
                            </div>
                         {% endfor %}
                    {% endif %}
                    </div>
            {% endfor %}
     </div>
     <div class="mt-5 w-25 d-flex flex-column">
          <div class="align-self-center">
              <h4>Toppings</h4>
          </div>
         {% for key, values in toppings.items %}
            <div class="align-self-center">
                <button class="pizza_topping" onClick="addTopping(this)">{{key}}</button>
            </div>
         {% endfor %}
     </div>
    <div id="cart_container" class="w-25 d-flex flex-column border border-secondary rounded">
        <div id="cart_items_list">

        </div>
        <div id="order_button" class="mt-auto"><button type="button" class="btn btn-primary w-100">Order</button></div>
    </div>
</div>

{% endblock %}
